.foto-div{
    display:block;
    width:150px;
    height:150px;
    margin:25px;
    border-radius:100px;
    overflow:hidden;
}
.foto
{
    width:150px;
}

#hper{
    color : white;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin-left: 35px;
}
#hper2{
    color : white;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 35px;
}

#ul1{
    color : white;
    font-family: "Clear Sans Regular", sans-serif;
    font-size: 10px;
    list-style-type: square;
}
li.left-list{
    line-height: 20px;
    width: 100px;
}

li.right-list{
    color : black;
    font-family: "Clear Sans Regular", sans-serif;
    font-size: 10px;
    margin: 0px 30px 0px 0px;
    text-align: justify;
    line-height: 12px;
    
}
ul.right-list
{
    list-style-position: outside;
}
#linkWhite {
    color: rgb(235, 228, 228);
    background-color: transparent;
  }

#name{
    color: #335384;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 28px;
    margin-left: 20px;
}
#profession{
    color: #5ba7d1;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    margin-left: 20px;
    letter-spacing: 3px;
}
#hcon{
    color: #5ba7d1;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    margin-left: 20px;
    letter-spacing: 3px;
}
#hproj{
    color : black;
    font-family: "Clear Sans Regular", sans-serif;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 30px;
}
#hproj2{
    color : rgb(179, 179, 179);
    font-family: "Assistant", sans-serif;
    font-size: 11px;
    margin-left: 20px;
    margin-top:-7px;
    
}
#hedu{
    color : black;
    font-family: "Clear Sans Regular", sans-serif;
    font-size: 10px;
    margin-left: 20px;
}
p{
    color : black;
    font-family: "Clear Sans Regular", sans-serif;
    font-size: 11px;
    margin: 0px 20px 0px 20px;
    text-align: justify;
    line-height: 15px;
}