#container{
    width: 50%;
    background: grey;
    font-size: 25pt;
    display: flex;
    border-radius: 5px;
    margin: auto auto;
    justify-content: space-evenly;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align:center;
    height: auto;
    flex-wrap: wrap;
}

div{
    border: 2pt solid black;

}
#container > div{
    width:75px;
    height:75px;
}

#container> div:nth-child(odd){
    background-color: green;
}

#container> div:nth-child(even){
    background-color: white;
}